<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lampt.ledlamptservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        tools:ignore="MissingApplicationIcon"
        android:enabled="true"
        tools:targetApi="31">
        <service
            android:name=".LedHalClient"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".LedLamptServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LedLamptService"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:exported="true" />
    </application>

</manifest>